header {
    color: black;
}
nav {
    background-color: rgba(255, 127, 80, 0.473);
    height: 50px; 
}

ul {
    list-style:none;
}
nav li{
    display:inline-block;
    padding: 5px;
    background-color: rgba(255, 92, 80, 0.596);
    margin:10px;
}
a:link, a:hover, a:visited {
    color:black
}